button {
    background: green;
    padding: 10px;
    font-size: 14px;
    font-family: 'Consolas';
    color: white;
    border: 3px solid black;
    border-radius: 10px;
}

button:hover {
    transition: 200ms;
    background: lightblue;
    padding: 8px;
    font-size: 16px;
    font-family: 'Consolas';
    color: black;
    border: 3px solid black;
    border-radius: 10px;
}

th td {
    padding: 5px;
    border: 2px solid black;
}